/* css reset
 * http://meyerweb.com/eric/tools/css/reset/ 
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Columba */

* { box-sizing: border-box; }

body {
	font-family: georgia, serif, courier;
}
.top{
	background:#27408B;
	padding: 20px;
	margin-top:0px;
	
}
.header {
	background: royalblue;
	padding: 20px;
	margin-bottom: 25px;
	position: relative;
}
.page-title {
	display: block;
	font-size: 80px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	color: white;
	margin-bottom: 50px;
}
.header form {
	text-align: center;
	display: block;
}
.sair {
	position: absolute;
	top: 25px;
	right: 20px;
	color: white;
	text-decoration: none;
	font-size:17px;
}

.ajudab{
	position: absolute;
	top: 23px;
	right: 60px;
	color:white;
	background-color:#27408B;
	margin:0px;
	text-align:center;
	border-width:0px;
	font-size:16px;
}

.inicio{
	position: absolute;
	top: 15px;
	right: 115px;
	color: white;
	text-decoration: none;
}
.al{
	position: absolute;
	top: 20px;
	right: 165px;
	color: white;
	text-decoration: none;
}

/* input */
.text {
	padding: 12px;
	font-size: 12px;
}
.botao{
	padding: 8px;
	height:40px;
	border-width:0px;
	font-size:15px;
	background-color:white;
	
	
}
/* busca */
.busca-avancada {
	clear: both;
	width: 100%;
	float: left;
	padding: 0 4%;
	margin-bottom: 100px;
}
.opcao {
	background: #1E90FF;
	width: 23%;
	float: left;
	padding: 20px;
	margin: 0 1%;
	text-align: center;
}
.opcao label {
	display: block;
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	font-style: italic;
	margin-bottom: 30px;
}
.opcao .text {
	width: 100%;
}

/* aluno */
.aluno {
	background-color: #CAE1FF;
	font-style: italic;
	text-align: center;
	margin: 20px 5% 45px;
	padding: 20px;
	clear: both;
}
.aluno h3 {
	font-size: 22px;
	font-weight: bold;
	color: dodgerblue;
	margin: 0 0 40px;
}
.aluno p {
	font-size: 20px;
	line-height: 1.4;
	margin-bottom: 25px;
}
.bt {
	border-radius: 4px;
	padding: 15px;
	text-decoration: none;
	background-color: #4169E1;
	color: #fff;
	display: inline-block;
}
/* informacoes */
.informacoes {
	border-top: 2px solid ;
	font-size: 18px;
	font-style: italic;
	line-height: 1.6;
	margin: 20px 0;
	padding: 20px 5%;
}
.informacoes h3 {
	font-size: 22px;
	font-weight: bold;
	margin: 0 0 10px;
}
.tabelalivro{
	text-align:center;
	width:100%;
	height:75%;
	border: 2px solid black;
	background-color:lightblue;

}
.tabelalivro tr{
	border: 1px solid black;
	background-color:lightblue;
	height:5px;
}
.tabelalivro td{
	border: 1px solid black;
	background-color:lightblue;
	height:5px;
}
.centrolivro{
	margin: 50px 20% 100px;

}
.tabelaaluno{
	text-align:center;
	width:100%;
	height:75%;
	border: 2px solid black;
	background-color:lightblue;

}
.tabelaaluno tr{
	border: 1px solid black;
	background-color:lightblue;
	height:5px;
}
.tabelaaluno td{
	border: 1px solid black;
	background-color:lightblue;
	height:5px;
}
.centroaluno{
	margin: 50px 20% 100px;

}

#aj{
	position: absolute;
	top: 0%;
	left:20%;
	right:20%;
	bottom:0%;
	display: none;
	background-color: white;
	padding:20px;
	font-size: 20px;

}
#aj h2{
	font-size: 25px;
	font-weight: bold;
	color: royalblue;
	margin: 0 0 40px;
	text-align:center;
}

#aj h3{
	font-size: 25px;
	font-weight: bold;
	color: royalblue;
	margin: 0 0 40px;
	text-align:left;
}

#aj p{	
	color:black;
	text-align:justify;	
}

.out{
	position: absolute;
	top: 0px;
	right: 3px;
	background-color:white;
	margin:0px;
	text-align:center;
	border-width:0px;
}
.out2{
	position: absolute;
	bottom:5px;
	color:white;
	background-color:royalblue;
	margin:0px;
	text-align:center;
	border-width:0px;
	height:35px;
	width:85px;
	left: 45%;
	font-size:17px;
}
	


